// Main
$mail-bg-color: #ffffff;

// Header
$main-btn-bg-color: #000;
// Service
$service-bg-color: #fff;
$service-text-color: #000;
$selected-service-bg-color: #fff;
$service-border-color: #000;
$service-btn-color: rgb(45, 179, 103);
$service-btn-color_hover: rgb(48, 183, 106);
