@import '../../common-styles/mixins';
.services {
	display: flex;
	gap: 10px;
}
.service {
	@include service_styles;
}

.service_checked {
	@include service_styles;
	background-color: rgb(37, 51, 83);
	border: 3px solid rgb(37, 51, 83);
}

@media (max-width: 810px) {
	.services {
		flex-direction: column;
	}
}
