@import '../../common-styles/mixins';
@import '../../constants/colors.scss';
.services {
	display: flex;
	gap: 10px;
}
.service {
	@include service_styles;
}

.service_checked {
	@include service_styles;
	background-color: $selected-service-bg-color;
}

@media (max-width: 810px) {
	.services {
		flex-direction: column;
	}
}
